<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/mydslb/MyDslB"
			class = "org.xtext.example.mydslb.myDslB.MyDslBPackage"
			genModel = "model/generated/MyDslB.genmodel" />
	</extension>
</plugin>
